<!DOCTYPE html>
<html>
  <head>
    <title>NpiSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success'%>">
        <%= msg %>
      </div>
    <% end %>
    <%= vite_stylesheet_tag 'application.scss', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
